<jce-user-form  (userAddedEvent) = "addUser($event)"></jce-user-form>
<div>
  <h3>Users list:</h3>
  
  <!-- <i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-3x"></i>-->
  <jce-spinner [visible] = "isLoading"></jce-spinner>
  <ul class="list-group users">
        <li class="list-group-item" *ngFor = "let user of users" 
          [class.active]="currentUser == user"
          (click)="select(user)" >
         <!--   <jce-user [user] = user></jce-user>       -->
             <jce-user [user] = "user"
              (deleteEvent) = "deleteUser($event)" 
              (editEvent) = "updateUser($event)"></jce-user>   

               <ul>
          <li *ngFor = "let title of user.posTitles">
            {{(title | async)?.title}}
          </li>
        </ul> 
       

          
        </li>


   

  </ul>
</div>