<p>
  invoice-form works!
</p>
<h2>invoice</h2>
<form (ngSubmit) ="onSubmit(f)" #f= 'ngForm'><!-- "'ngForm" saved worls"" -->
  <!--<div class="form-group">
    <label for="name">name</label>
    <input type="text"
            class="form-control"
            id="name"
            name="name"
            required
            [(ngModel)] = "invoices.name">
  </div>-->

   <div class="form-group">
    <label for="amount">Amount</label>
    <input type="text"
            class="form-control"
            value="1000"
            id="amount"
            name="amount"
            required
            [(ngModel)] = "invoices.amount">
            
  </div>


   <button type="submit" class="btn btn-primary" >Submit</button>

  
</form>
