<h2>Add Invoice</h2>
<form (ngSubmit) ="onSubmit(f)" #f= 'ngForm'><!-- "'ngForm" saved worls"" -->
  <div class="form-group">
    <label for="title">Tile</label>
    <input type="text"
            class="form-control"
            id="title"
            name="title"
            required
            [(ngModel)] = "post.title">
            
  </div>
   <button type="submit" class="btn btn-primary" >Submit</button>

  
</form>

 