<h1>
  {{title}}
</h1>
<nav> 


<a routerLink = "/products">Products</a><br>
  
  <a routerLink = "/users">User </a><br>
  <a routerLink = "/posts">Post </a><br>

  <a routerLink = "/invoices">Invoices </a>  |
  <a routerLink = "/invoice-form">invoice-form </a>

 

</nav>
<router-outlet></router-outlet>

