<app-invoice-form> (invoiceAddedEvent) = "addInvoice($event)"</app-invoice-form>
<ul class="list-group invoices">
        <li class="list-group-item" *ngFor = "let invoice of invoices" 
          [class.active]="currentInvoice == invoice"
      (click)="select(invoice)" >  
         <!--   <jce-user [user] = user></jce-user>       -->
             <app-invoice [invoice] = invoice ></app-invoice>   

            
        </li>
  </ul>
