<app-product-form (productAddedEvent) = "addProduct($event)"></app-product-form> 
<div>  
  <h3>product list :</h3>
  
  
  <ul class="list-group products">
        <li class="list-group-item" *ngFor = "let product of products" 
          [class.active]="currentProduct == product"
      (click)="select(product)" >  
         <!--   <jce-user [user] = user></jce-user>       -->
             <jce-product [product] = "product"
             (deleteEvent) = "deleteProduct($event)"
             (editEvent) = "editProduct($event)"></jce-product>   

              <ul>
       <li *ngFor = "let cname of product.categoryNames">
         {{(cname | async)?.cname}}
       </li>
     </ul>

        </li>
  </ul>
</div>