<jce-post-form  (postAddedEvent) = "addPost($event)"></jce-post-form>
<div>
  <h3>Post list:</h3>
  
  <!-- <i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-3x"></i>-->
  <jce-spinner [visible] = "isLoading"></jce-spinner>
  <ul class="list-group posts">
        <li class="list-group-item" *ngFor = "let post of posts" 
          [class.active]="currentPost == post"
          (click)="select(post)" >
         <!--   <jce-user [user] = user></jce-user>       -->
             <jce-post [post] = "post"
              (deleteEvent) = "deletePost($event)" 
              (editEvent) = "updatePost($event)"></jce-post>   

              <!--<ul> 
                   <li *ngfor = "let title of user.posTitles">
                     {{(title | async)?.title}}
                   </li>
              </ul> -->

        </li>
  </ul>
</div>