
<span *ngIf = "!isEdit" >Name: {{user.name}}, Email {{user.email}} </span><!--if not editing stay stil-->

<button (click) = "sendDelete()" >Delete</button> <button (click) = "toggleEdit()" >{{editButtonText}}</button><!--delete is const buttona, edit is daynamic-->
<span *ngIf = "isEdit" >Name: <input type="text" [(ngModel)] = "user.name"> Email: <input type="text" [(ngModel)] = "user.email"></span><!--if is edit chnge html to edit-->

